BasedOnStyle: LLVM

UseTab: Always
TabWidth: 4
IndentWidth: 4

ColumnLimit: 0

BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
LambdaBodyIndentation: Signature
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 0
IndentWrappedFunctionNames: false
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterEnum: true
  AfterClass: true
  AfterNamespace: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true

PointerAlignment: Right
ReferenceAlignment: Right

IncludeBlocks: Regroup
SortIncludes: true

SpacesInParentheses: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpaceAfterTemplateKeyword: true
SpaceAfterLogicalNot: false
SpaceAroundOperators: true
SpaceAfterComma: true

Cpp11BracedListStyle: true
TrailingCommaInEnum: true

IndentCaseLabels: false

NamespaceIndentation: All

EmptyLineBeforeAccessModifier: Always

BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4

CommentPragmas: '^'
ReflowComments: false
