Checks: >
  -*,
  readability-identifier-naming,
  readability-inconsistent-declaration-parameter-name
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  - key: readability-identifier-naming.FunctionCase
    value: camelBack

  - key: readability-identifier-naming.MethodCase
    value: camelBack

  - key: readability-identifier-naming.VariableCase
    value: camelBack

  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: '_'
  - key: readability-identifier-naming.ProtectedMemberCase
    value: camelBack
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: '_'

  - key: readability-identifier-naming.PrivateMethodCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMethodPrefix
    value: '_'
  - key: readability-identifier-naming.ProtectedMethodCase
    value: camelBack
  - key: readability-identifier-naming.ProtectedMethodPrefix
    value: '_'


  - key: readability-identifier-naming.PublicMemberCase
    value: camelBack

  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.ParameterPrefix
    value: 'p_'

HeaderFilterRegex: '^(?!.*include/external_libraries).*'