CMakeLists.txt.user
CMakeCache.txt
/*.cmake
.vs
.vscode
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
archive
lib
executable
docs
Sparkle/src/external_libraries/glm
